

html { 
  background: url('./images/background-image.jpg') no-repeat center center fixed; 
  background-color: #062C30;
  top: 0; 
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.card{
    width: 400px;
    margin: 100px auto; 
    text-align: center;
  }
  .card1{
    background-color: #FFFFFF;
    line-height : 6px;
  }
  .card2{
    background-color: #00C2FF;
    line-height : 2px;
  }
  .container {
    padding: 1px;
  }
  .column {
    float: left;
    width: 33.33%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .rectangle {
    padding-top: 3%;
    float: left;
    width: 20%;
  }
  .frame {
    padding-top: 2%;
    float: right;
    width: 20%;
  }
  .text {
    width: 60%;
    text-align: left;
  }